* {
  font-family: ‘Nerko One’, cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-size: 50px;
}

.container {
  width: 50%;
  margin: auto;
}

.title {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0.5%;
}
